# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
instance/
exports/
celerybeat-schedule

# Node
node_modules/
npm-debug.log

# Vite
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db